// Auto genetated file
[
{
"name" : "p1305 - gcc_sparc_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_sparc_64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_sparc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_sparc_32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_x86_32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_x86_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_x86_64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_x86_16" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_x86_16" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_armeb_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_armeb_eabi" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_arm_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_arm_eabi" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_aarch64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_aarch64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - aarch64eb" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64eb" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_rv64ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_rv64ifdq" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_rv32ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_rv32ifdq" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_mips_o32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_mips_o32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_mips_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_mips_n32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_mips_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_mips_64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_mipsel_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_mipsel_64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_mipsel_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_mipsel_n32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - gcc_apple_ppc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_apple_ppc_32" ,
"main" : "p1305" 
}
]
