// Auto genetated file
[
{
"name" : "p1305 - gcc_sparc32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "gcc_sparc32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - sparc32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc32" ,
"main" : "p1305" 
}
]
