// Auto genetated file
[
{
"name" : "blake2b - sparc_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - sparc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - x86_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - x86_16" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - armeb_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - arm_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - aarch64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - aarch64eb" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - rv64ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - rv32ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mips_o32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mips_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mips_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mipsel_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mipsel_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - apple_ppc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "apple_ppc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
]
